#pageContainer {
  margin:0 auto;
  width:960px;
}
#pageContainer h1 {
  display:block;
  width:960px;
  height:114px;
  background:transparent url(img/bg_pagecontainer_h1.jpg) no-repeat top left;
  text-indent: -10000px;
}
.slide h2, .slide p {
  margin:15px;
}
.slide h2 {
  font:italic 24px Georgia, "Times New Roman", Times, serif;
  color:#ccc;
  letter-spacing:-1px;
}

#slideshow {float: left;
    position: relative;}

#slideshow #slidesContainer {
  margin:0 auto;
  width:300px;
  height:200px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:300px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:200px;
}

/** 
 * Slideshow controls style rules.
 */
.control {display:block;width:39px;height:30px;text-indent:-10000px;position:absolute;cursor: pointer;}
#leftControl {top: 200px;left:0;}
#rightControl {right: 5px;top: 175px;background:transparent url("../imgs/seta_rigth.png") no-repeat 0 0;}


