html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

.fc1 {
    float: left;
    width: 560px;
}

.fc2 {
    float: left;
    width: 600px;
}

p.fc2 {
    float: left;
    width: 300px;
}

input.fc2 {
    background-color: #FCFCFC;
    border: 1px solid #CCCCCC;
    font: 11px verdana,arial,helvetica,sans-serif;
    margin: 2px 0;
    padding: 8px;
    width: 250px;
    color: #666;  text-transform: uppercase;

}

input.fc1 {
    background-color: #FCFCFC;
    border: 1px solid #CCCCCC;
    font: 11px verdana,arial,helvetica,sans-serif;
    margin: 2px 0;
    padding: 8px;
    width: 550px;
    color: #666;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}
#grailsLogo {
	padding:20px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
color: #48802C;
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
}

ul {
    padding-left: 15px;
}

select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
    width: 50%;
}
input {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font: 11px verdana,arial,helvetica,sans-serif;
    margin: 2px 0;
    padding: 10px;
}
select {
   padding: 2px 2px 2px 0;
   width: 250px;
}
textarea {
	width: 50%;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
    width: 600px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
    height: 15px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px;float: left;
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;  width: 100%;float: left;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%;float: left;
}
tr {
    border: 1px solid #ddd;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
    padding: 10px;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;   float: left;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
    text-transform: uppercase;
}

.autor{
    background: #ededed;
}

.prop .name {
    text-align: right;
    
}
.prop .value {
    text-align: left;
}

/* ACTION BUTTONS */

.buttons-save {
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    float:left;
}

.buttons {
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 10px 0px;
    width: 75%;float:left;
}

span.button{    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
                 border: 1px solid #ccc;}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}

.buttons-print {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 10px;
    width: 250px;
    display: block;
}

.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
label {
    float: left;
    width: 100%;
    margin: 3px 0; text-transform: uppercase;
}

select.select {
    padding: 8px;
    width: 268px;
}

label.i {
    float: left;
    text-align: left;
    width: 250px;
    padding: 5px;
}

#autor{background: #000;}

#box-bloco{
	background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #DDDDDD;
    float: left;
    margin: 10px 0;
    padding: 10px;
    width: 600px;}
    
#bloco{float: left;margin-top: 10px;width: 400px;}
#bloco01{float: left;width: 300px;margin-top: 20px;}
#bloco02{float: right;width: 300px;margin-top: 20px;}
.b1{float: left;}

#box-info{    border: 1px solid #EDEDED;
              float: left;
              font-size: 14px;
              margin: 10px 0;
              padding: 10px;
              width: 600px;}
.campo{width: 100%; float:left;}

td .bt{
    -moz-border-radius: 5px 5px 5px 5px;
    background-image: url("../images/i17.png");
    border: 1px solid #CCCCCC;
    padding: 3px 8px;
}
.campo-s{   
	float: left;
    padding: 5px;
    width: 100%;}
span{
	float: left;
    padding: 5px;}
ul li{padding:5px 0px;}
div.print{    
	float: left;
    margin: 10px;
    width: 600px;
    border: 1px solid #efefef;
    padding: 10px;
    text-transform: uppercase;}

p.cupom{background: #EFEFEF; padding:10px;margin:10px 0px;
            border: 1px solid #DDDDDD;
            float: left;
            width: 95%;}
